<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95b478">  <td>18/06/24 19:39:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.compute()[pri:1, instance:test.test1@1d057a39]">compute</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:40:01</td>   <td>14313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.computeAnythingSection()[pri:6, instance:test.test1@1d057a39]">computeAnythingSection</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:39:41</td>   <td>-5651</td> <td>&nbsp;</td><td title="&gt;&gt;test1.initialize()[pri:0, instance:test.test1@1d057a39]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:40:06</td>   <td>18958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.learnToCodeSection()[pri:7, instance:test.test1@1d057a39]">learnToCodeSection</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:40:01</td>   <td>14276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.notebookEduResources()[pri:5, instance:test.test1@1d057a39]">notebookEduResources</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:39:52</td>   <td>5029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.notebookPlayBtn()[pri:3, instance:test.test1@1d057a39]">notebookPlayBtn</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:41:05</td>   <td>78275</td> <td>&nbsp;</td><td title="&lt;&lt;test1.teardown()[pri:0, instance:test.test1@1d057a39]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:40:11</td>   <td>23736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.validateFooter()[pri:8, instance:test.test1@1d057a39]">validateFooter</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:39:52</td>   <td>4870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.validateOpenCode()[pri:2, instance:test.test1@1d057a39]">validateOpenCode</td> 
  <td>main@1333592072</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>18/06/24 19:40:00</td>   <td>13232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.validateWhatIsThis()[pri:4, instance:test.test1@1d057a39]">validateWhatIsThis</td> 
  <td>main@1333592072</td>   <td></td> </tr>
</table>
