<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>WebTestFrame.validateLogin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validForgetPwd</td>
<td>Smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>databaseConnLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validErrorColor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validErrorBgColor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validEmailAddrs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validEmailPwd</td>
<td>End2End Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validPopClose</td>
<td>End2End Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
