<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>End2End</td><td>validateLogin.validEmailPwd(java.lang.String, java.lang.String)[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]<br/></td></tr>
<tr><td>Smoke</td><td>validateLogin.validEmailPwd(java.lang.String, java.lang.String)[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]<br/>validateLogin.validForgetPwd()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]<br/></td></tr>
</table>
