<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.databaseConnLogin()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">databaseConnLogin</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:48:54</td>   <td>-16793</td> <td>&nbsp;</td><td title="&gt;&gt;validateLogin.initialize()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:17</td>   <td>6807</td> <td>&nbsp;</td><td title="&lt;&lt;validateLogin.teardown()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:12</td>   <td>1129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.validEmailPwd(java.lang.String, java.lang.String)[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">validEmailPwd</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:13</td>   <td>2748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.validEmailPwd(java.lang.String, java.lang.String)[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">validEmailPwd</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:13</td>   <td>2751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.validEmailPwd(java.lang.String, java.lang.String)[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">validEmailPwd</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:13</td>   <td>2829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.validErrorBgColor()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">validErrorBgColor</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:13</td>   <td>2756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.validErrorColor()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">validErrorColor</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:14</td>   <td>2869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateLogin.validForgetPwd()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">validForgetPwd</td> 
  <td>main@1297978429</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/25 17:49:04</td>   <td>-6609</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;validateLogin.validPopClose()[pri:0, instance:WebTestFrame.validateLogin@10e31a9a]">&gt;&gt;validPopClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1297978429</td>   <td></td> </tr>
</table>
