<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;test1.initialize()[pri:0, instance:test.test1@cb5822]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:28</td>   <td>4018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.compute()[pri:1, instance:test.test1@cb5822]">compute</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:31</td>   <td>7103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.validateOpenCode()[pri:2, instance:test.test1@cb5822]">validateOpenCode</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:32</td>   <td>7291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.notebookPlayBtn()[pri:3, instance:test.test1@cb5822]">notebookPlayBtn</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:40</td>   <td>15660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.validateWhatIsThis()[pri:4, instance:test.test1@cb5822]">validateWhatIsThis</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:41</td>   <td>16444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.notebookEduResources()[pri:5, instance:test.test1@cb5822]">notebookEduResources</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:41</td>   <td>16479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.computeAnythingSection()[pri:6, instance:test.test1@cb5822]">computeAnythingSection</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:46</td>   <td>21742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.learnToCodeSection()[pri:7, instance:test.test1@cb5822]">learnToCodeSection</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:55:51</td>   <td>26675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test1.validateFooter()[pri:8, instance:test.test1@cb5822]">validateFooter</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/06/24 10:56:46</td>   <td>81717</td> <td>&nbsp;</td><td title="&lt;&lt;test1.teardown()[pri:0, instance:test.test1@cb5822]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
</table>
